*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #BB99CD;

}
.grid-container{
    display: grid;
    grid-template-areas:
    "left-section middle-section right-section";
    grid-gap: 40px;
}
.left-section{
    grid-area: left-section;
    background-image: url(2.jpg);
    height: 100vh;
    width: 80vh;
    background-position: center;
    background-size: cover;
}
.middle-section{
    grid-area: middle-section;
}
.basic-info{
    padding: 15px 20px;
}
li{
    list-style: none;
    margin: 10px 2px;
}
h1,h2{
    font-family: 'Lobster Two';
    margin-bottom: 20px;
    position: relative;
}
h1{
    margin-bottom:20px ;
    opacity: 0.5;
}
.fa{
    margin: 10px;
}
.bio,.education{
    margin-bottom: 25px;
}
.checked,.fa{
    color: #643579;
}
.fab{
    color: black;
    font-size: 50px;
}
.skills,.hobbies{
    padding: 30px;
    background-color: #3D1860;
    border-radius: 20px;
    margin-right: 10px;
    color: #F5EDF7;
}
.accounts{
    margin-top: 5px;
}
.skills{
    margin-bottom: 10px;
}
h2::after{
content: "";
position: absolute;
width: 25px;
height: 5px;
bottom: -10px;
left: 0px;
background-color: #3D1860;
border-radius: 20px;
}
.projects a{
    color: black;
    font-size: 20px;
}
@media(max-width:1100px){
    *{
        margin-left: 5px;
    }
    .grid-container{
        grid-template-areas: 
        'left-section'
        'middle-section'
        'right-section';
        grid-gap: 20px;
    }
    .left-section{
        height: 70vh;
        width: 90vh;
    }
}
@media(max-width:900px) {
    .grid-container {
        grid-template-areas:
            'left-section'
            'middle-section'
            'right-section';
        width: 90%;
        margin: auto;
        grid-gap: 20px;
    }

    .left-section {
        height: 75vh;
        width: 75vh;
        margin-left: 15%;
        margin-top: 10%;
    }
}
@media(max-width:700px) {
    .grid-container {
        grid-template-areas:
            'left-section'
            'middle-section'
            'right-section';
        width: 90%;
        margin: auto;
        grid-gap: 20px;
        margin-bottom: 5px;
    }

    .left-section {
        height: 45vh;
        width: 45vh;
        margin-left: 15%;
        margin-top: 10%;
    }
}
